/*

Be Documentation CSS
Version 1.0
Made by Themanoid

*/
/*-----------	

 	00 Presets 	

-------------*/
::selection {
  background: none; }

::-moz-selection {
  background: none; }

* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  outline: none; }

::-moz-focus-inner {
  border: 0; }

:focus {
  outline: none; }

/*-----------

	01 General 	

-------------*/
html, body {
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  color: #31353a;
  background: #fff;
  position: relative;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  display: inline-block; }
  @media screen and (max-width: 767px) {
    html, body {
      font-size: 14px; } }
  @media screen and (min-width: 1300px) {
    html, body {
      font-size: 18px; } }
  @media screen and (min-width: 1450px) {
    html, body {
      font-size: 23px; } }

/*-----------

	02 Typography 	

-------------*/
h1, h2, h3, h4, h5, h6 {
  color: #31353a;
  font-weight: 300;
  font-family: "Roboto", sans-serif; }

h1 {
  font-weight: 100;
  font-size: 2em; }
  @media screen and (min-width: 1300px) {
    h1 {
      font-size: 3em; } }

h2 {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 2em; }
  @media screen and (min-width: 1450px) {
    h2 {
      font-size: 1.8em; } }

h3 {
  font-size: 1.3em; }

h4 {
  margin-top: 20px; }

p {
  font-family: "Roboto", sans-serif;
  line-height: 1.7em;
  margin: 15px 0; }

.subtitle {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ms)";
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7; }

/*-----------

	03 Elements 	

-------------*/
.container-fluid {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ms)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s cubic-bezier(0.35, 0.085, 0.305, 1.005);
  -moz-transition: opacity 0.5s cubic-bezier(0.35, 0.085, 0.305, 1.005);
  -o-transition: opacity 0.5s cubic-bezier(0.35, 0.085, 0.305, 1.005);
  transition: opacity 0.5s cubic-bezier(0.35, 0.085, 0.305, 1.005);
  position: relative;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  display: inline-block;
  padding: 0; }
  .container-fluid.loaded {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ms)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -webkit-transition: opacity 0.5s cubic-bezier(0.35, 0.085, 0.305, 1.005);
    -moz-transition: opacity 0.5s cubic-bezier(0.35, 0.085, 0.305, 1.005);
    -o-transition: opacity 0.5s cubic-bezier(0.35, 0.085, 0.305, 1.005);
    transition: opacity 0.5s cubic-bezier(0.35, 0.085, 0.305, 1.005); }

section, footer {
  padding: 100px;
  width: 100%;
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow: hidden; }
  @media screen and (max-width: 992px) {
    section, footer {
      padding: 50px; } }
  @media screen and (max-width: 767px) {
    section, footer {
      padding: 30px; } }
  section .bg, footer .bg {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: all 15s cubic-bezier(0.35, 0.085, 0.305, 1.005);
    -moz-transition: all 15s cubic-bezier(0.35, 0.085, 0.305, 1.005);
    -o-transition: all 15s cubic-bezier(0.35, 0.085, 0.305, 1.005);
    transition: all 15s cubic-bezier(0.35, 0.085, 0.305, 1.005); }
    section .bg.faded, footer .bg.faded {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ms)";
      filter: alpha(opacity=50);
      -moz-opacity: 0.5;
      -khtml-opacity: 0.5;
      opacity: 0.5; }
    section .bg.start-animation, footer .bg.start-animation {
      -webkit-transform: scale(1.1, 1.1);
      -moz-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1); }
  section.no-spacing, footer.no-spacing {
    padding: 0; }
  section.bg-accent, footer.bg-accent {
    background: #615ab7; }
    section.bg-accent *, footer.bg-accent * {
      color: #999; }
    section.bg-accent h1, section.bg-accent h2, section.bg-accent h3, section.bg-accent h4, section.bg-accent h5, section.bg-accent h6, footer.bg-accent h1, footer.bg-accent h2, footer.bg-accent h3, footer.bg-accent h4, footer.bg-accent h5, footer.bg-accent h6 {
      color: #fff; }
  section.bg-dark, footer.bg-dark {
    background: #31353a; }
    section.bg-dark *, footer.bg-dark * {
      color: #999; }
    section.bg-dark h1, section.bg-dark h2, section.bg-dark h3, section.bg-dark h4, section.bg-dark h5, section.bg-dark h6, footer.bg-dark h1, footer.bg-dark h2, footer.bg-dark h3, footer.bg-dark h4, footer.bg-dark h5, footer.bg-dark h6 {
      color: #fff; }
    section.bg-dark .fa, footer.bg-dark .fa {
      color: #fff; }
    section.bg-dark a, footer.bg-dark a {
      color: #fff !important; }
  section.bg-darker, footer.bg-darker {
    background: #222; }
    section.bg-darker *, footer.bg-darker * {
      color: #999; }
    section.bg-darker h1, section.bg-darker h2, section.bg-darker h3, section.bg-darker h4, section.bg-darker h5, section.bg-darker h6, footer.bg-darker h1, footer.bg-darker h2, footer.bg-darker h3, footer.bg-darker h4, footer.bg-darker h5, footer.bg-darker h6 {
      color: #fff; }
    section.bg-darker .bg, footer.bg-darker .bg {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ms)";
      filter: alpha(opacity=30);
      -moz-opacity: 0.3;
      -khtml-opacity: 0.3;
      opacity: 0.3; }
  section .content, footer .content {
    position: relative;
    z-index: 1; }
    section .content blockquote, footer .content blockquote {
      margin: 40px 0;
      padding: 20px 100px;
      text-align: center; }
    section .content a, footer .content a {
      color: #615ab7;
      -webkit-transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
      -moz-transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
      -o-transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
      transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
      border-bottom: 1px solid #fff; }
      section .content a:hover, footer .content a:hover {
        text-decoration: none;
        color: #31353a;
        border-bottom: 1px solid #31353a; }
      section .content a.fa, section .content a.btn, footer .content a.fa, footer .content a.btn {
        border-bottom: 0; }
    section .content .nav-tabs a, footer .content .nav-tabs a {
      border-bottom: 0; }
    section .content img, footer .content img {
      max-width: 100%;
      margin: 30px 0; }

.row {
  max-width: 1450px;
  margin: 0 auto; }

footer p {
  margin: 0;
  color: #999; }
footer .fa {
  color: #aaa;
  margin: 10px 0; }
footer.gray * {
  color: #999; }
footer .copy {
  font-size: .9em; }
footer a.icon {
  display: inline-block;
  margin: 0 9px 20px;
  -webkit-transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
  -moz-transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
  -o-transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
  transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005); }
  footer a.icon:hover {
    text-decoration: none;
    color: #222; }

.bottom-line {
  border-bottom: 1px solid #eee; }

.top-line {
  border-top: 1px solid #eee; }

.btn {
  background: none;
  border: 0;
  border-bottom: 1px solid #31353a;
  -webkit-transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
  -moz-transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
  -o-transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
  transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  padding: 10px 0;
  margin: 10px 8px;
  text-transform: uppercase;
  color: #31353a; }
  .btn:hover {
    padding: 10px;
    background: none;
    color: #31353a; }
  .btn.btn-default, .btn.btn-warning, .btn.btn-info, .btn.btn-error, .btn.btn-accent {
    padding: 10px 20px;
    color: #fff;
    -webkit-transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
    -moz-transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
    -o-transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
    transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px; }
  .btn.btn-default {
    background: #31353a; }
    .btn.btn-default:hover {
      background: #222; }
  .btn.btn-warning {
    background: #e67e22; }
    .btn.btn-warning:hover {
      background: #d35400; }
  .btn.btn-info {
    background: #3498db; }
    .btn.btn-info:hover {
      background: #2980b9; }
  .btn.btn-error {
    background: #e74c3c; }
    .btn.btn-error:hover {
      background: #c0392b; }
  .btn.btn-accent {
    background: #615ab7;
    color: #fff; }
    .btn.btn-accent:hover {
      background: #999; }
  .btn .fa {
    margin-right: 6px;
    color: #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ms)";
    filter: alpha(opacity=40);
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4; }

button:focus {
  outline: none !important; }

.bottom-nav header, .top-nav header {
  padding: 0 85px 60px 85px;
  z-index: 999;
  left: 0;
  right: 0;
  -webkit-transition: padding 0.3s;
  -moz-transition: padding 0.3s;
  -o-transition: padding 0.3s;
  transition: padding 0.3s; }
  @media screen and (max-width: 992px) {
    .bottom-nav header, .top-nav header {
      padding: 60px 50px; } }
  @media screen and (max-width: 767px) {
    .bottom-nav header, .top-nav header {
      padding: 10px 30px; } }
  .bottom-nav header a.brand, .top-nav header a.brand {
    float: left;
    margin-left: 4px;
    height: 40px;
    width: 40px;
    background-position: bottom center;
    background-size: cover; }
  .bottom-nav header .menu-trigger, .top-nav header .menu-trigger {
    width: 40px;
    display: block;
    height: 40px;
    position: absolute;
    padding-top: 8px;
    right: 95px;
    float: right;
    z-index: 999;
    -webkit-transition: right 0.3s;
    -moz-transition: right 0.3s;
    -o-transition: right 0.3s;
    transition: right 0.3s; }
    @media screen and (max-width: 992px) {
      .bottom-nav header .menu-trigger, .top-nav header .menu-trigger {
        right: 65px; } }
    @media screen and (max-width: 767px) {
      .bottom-nav header .menu-trigger, .top-nav header .menu-trigger {
        right: 45px; } }
    .bottom-nav header .menu-trigger .bar, .top-nav header .menu-trigger .bar {
      margin-bottom: 10px;
      height: 1px;
      width: 40px;
      background: #31353a;
      position: absolute;
      left: 0;
      top: 15px;
      -webkit-transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
      -moz-transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
      -o-transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
      transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005); }
      .bottom-nav header .menu-trigger .bar:first-child, .top-nav header .menu-trigger .bar:first-child {
        top: 0; }
      .bottom-nav header .menu-trigger .bar:last-child, .top-nav header .menu-trigger .bar:last-child {
        top: 30px; }
    .bottom-nav header .menu-trigger:hover, .top-nav header .menu-trigger:hover {
      cursor: pointer; }
    .bottom-nav header .menu-trigger.active, .top-nav header .menu-trigger.active {
      position: fixed; }
      .bottom-nav header .menu-trigger.active .bar, .top-nav header .menu-trigger.active .bar {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ms)";
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;
        position: absolute;
        top: 18px;
        height: 3px;
        -webkit-transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
        -moz-transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
        -o-transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
        transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005); }
        .bottom-nav header .menu-trigger.active .bar:first-child, .top-nav header .menu-trigger.active .bar:first-child {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ms)";
          filter: alpha(opacity=100);
          -moz-opacity: 1;
          -khtml-opacity: 1;
          opacity: 1; }
        .bottom-nav header .menu-trigger.active .bar:last-child, .top-nav header .menu-trigger.active .bar:last-child {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ms)";
          filter: alpha(opacity=100);
          -moz-opacity: 1;
          -khtml-opacity: 1;
          opacity: 1; }
  .bottom-nav header nav#main, .top-nav header nav#main {
    position: fixed;
    z-index: 998;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: rgba(33, 33, 33, 0.9);
    display: none; }
    .bottom-nav header nav#main .nav, .top-nav header nav#main .nav {
      position: absolute;
      bottom: 200px;
      right: 95px; }
      @media screen and (max-width: 992px) {
        .bottom-nav header nav#main .nav, .top-nav header nav#main .nav {
          right: 65px; } }
      @media screen and (max-width: 767px) {
        .bottom-nav header nav#main .nav, .top-nav header nav#main .nav {
          right: 45px;
          bottom: 110px; } }
      .bottom-nav header nav#main .nav ul, .top-nav header nav#main .nav ul {
        padding: 0;
        margin: 0;
        list-style: none; }
        .bottom-nav header nav#main .nav ul li, .top-nav header nav#main .nav ul li {
          padding: 5px 0;
          margin: 0; }
          .bottom-nav header nav#main .nav ul li a, .top-nav header nav#main .nav ul li a {
            border: 0;
            margin: 0;
            padding: 0;
            display: block;
            font-size: 1.4em;
            margin-right: 0;
            text-align: right;
            font-weight: 300;
            color: #fff;
            font-family: "Roboto Condensed", sans-serif;
            text-transform: uppercase;
            -webkit-transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
            -moz-transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
            -o-transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
            transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ms)";
            filter: alpha(opacity=50);
            -moz-opacity: 0.5;
            -khtml-opacity: 0.5;
            opacity: 0.5; }
          .bottom-nav header nav#main .nav ul li:hover a, .top-nav header nav#main .nav ul li:hover a {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ms)";
            filter: alpha(opacity=100);
            -moz-opacity: 1;
            -khtml-opacity: 1;
            opacity: 1;
            padding: 0 5px;
            text-decoration: none; }
          .bottom-nav header nav#main .nav ul li ul, .top-nav header nav#main .nav ul li ul {
            max-height: 0;
            overflow: hidden;
            -webkit-transition: all 0.4s cubic-bezier(0.35, 0.085, 0.305, 1.005);
            -moz-transition: all 0.4s cubic-bezier(0.35, 0.085, 0.305, 1.005);
            -o-transition: all 0.4s cubic-bezier(0.35, 0.085, 0.305, 1.005);
            transition: all 0.4s cubic-bezier(0.35, 0.085, 0.305, 1.005);
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ms)";
            filter: alpha(opacity=0);
            -moz-opacity: 0;
            -khtml-opacity: 0;
            opacity: 0; }
            .bottom-nav header nav#main .nav ul li ul li a, .top-nav header nav#main .nav ul li ul li a {
              font-size: .8em; }
          .bottom-nav header nav#main .nav ul li:hover ul, .top-nav header nav#main .nav ul li:hover ul {
            padding: 10px 0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ms)";
            filter: alpha(opacity=100);
            -moz-opacity: 1;
            -khtml-opacity: 1;
            opacity: 1;
            max-height: 400px; }
            .bottom-nav header nav#main .nav ul li:hover ul a:hover, .top-nav header nav#main .nav ul li:hover ul a:hover {
              -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ms)";
              filter: alpha(opacity=50);
              -moz-opacity: 0.5;
              -khtml-opacity: 0.5;
              opacity: 0.5; }
  .bottom-nav header.affix, .top-nav header.affix {
    position: fixed;
    top: 0;
    bottom: auto;
    background: #242a30;
    padding: 10px;
    min-height: 60px;
    display: inline-block;
    -webkit-transition: padding 0.3s, background 0.3s;
    -moz-transition: padding 0.3s, background 0.3s;
    -o-transition: padding 0.3s, background 0.3s;
    transition: padding 0.3s, background 0.3s; }
    .bottom-nav header.affix .menu-trigger, .top-nav header.affix .menu-trigger {
      right: 20px;
      top: 12px; }
      .bottom-nav header.affix .menu-trigger .bar, .top-nav header.affix .menu-trigger .bar {
        background: #fff; }
    .bottom-nav header.affix .brand, .top-nav header.affix .brand {
      background-position: top center; }
    .bottom-nav header.affix nav#main, .top-nav header.affix nav#main {
      position: relative;
      z-index: 999;
      width: 100%;
      height: 100%;
      padding: 15px;
      background: none;
      margin-top: 50px; }
      .bottom-nav header.affix nav#main .nav, .top-nav header.affix nav#main .nav {
        position: relative;
        top: auto;
        bottom: auto;
        right: auto; }

.title-block {
  margin-bottom: 60px; }

.vcenter {
  -webkit-transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
  -moz-transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
  -o-transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
  transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005); }

.jumbotron {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: 0;
  margin: 0;
  padding: 70px 95px;
  vertical-align: top;
  font-size: 20px;
  overflow: hidden;
  background: #000; }
  @media screen and (max-width: 992px) {
    .jumbotron {
      min-height: 100%;
      height: auto; } }
  .jumbotron.small {
    height: 50%; }
  .jumbotron .bg {
    background-size: cover !important;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: all 15s cubic-bezier(0.35, 0.085, 0.305, 1.005);
    -moz-transition: all 15s cubic-bezier(0.35, 0.085, 0.305, 1.005);
    -o-transition: all 15s cubic-bezier(0.35, 0.085, 0.305, 1.005);
    transition: all 15s cubic-bezier(0.35, 0.085, 0.305, 1.005); }
    .jumbotron .bg.start-animation {
      -webkit-transform: scale(1.1, 1.1);
      -moz-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1); }
    .jumbotron .bg.faded {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ms)";
      filter: alpha(opacity=50);
      -moz-opacity: 0.5;
      -khtml-opacity: 0.5;
      opacity: 0.5; }
  .jumbotron .content {
    z-index: 2;
    position: relative; }
  @media screen and (max-width: 992px) {
    .jumbotron {
      padding: 60px 50px; } }
  .jumbotron h1 {
    margin-bottom: 40px;
    font-size: 2.5em; }
    @media screen and (min-width: 1300px) {
      .jumbotron h1 {
        font-size: 3em; } }
    @media screen and (max-width: 992px) {
      .jumbotron h1 {
        font-size: 2em; } }
  .jumbotron.dark * {
    color: #fff;
    border-color: #fff; }

.back-to-top {
  background: #31353a;
  width: 40px;
  height: 40px;
  position: fixed;
  right: 40px;
  bottom: -40px;
  cursor: pointer;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ms)";
  filter: alpha(opacity=40);
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;
  -webkit-transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
  -moz-transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
  -o-transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005);
  transition: all 0.3s cubic-bezier(0.35, 0.085, 0.305, 1.005); }
  .back-to-top.active {
    bottom: 0; }
  .back-to-top:after {
    content: ' ';
    position: absolute;
    top: 13px;
    left: 14px;
    border: 5px solid transparent;
    border-bottom-color: #fff; }
  .back-to-top:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ms)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }
  @media screen and (max-width: 767px) {
    .back-to-top {
      right: 10px; }
      .back-to-top.active {
        bottom: 10px; } }

/*-----------

	04 Modes 	

-------------*/
.gray {
  background: #eee; }

body.top-nav {
  padding-top: 158px;
  -webkit-transition: padding 0.6s cubic-bezier(0.35, 0.085, 0.305, 1.005);
  -moz-transition: padding 0.6s cubic-bezier(0.35, 0.085, 0.305, 1.005);
  -o-transition: padding 0.6s cubic-bezier(0.35, 0.085, 0.305, 1.005);
  transition: padding 0.6s cubic-bezier(0.35, 0.085, 0.305, 1.005); }
  body.top-nav.affixed {
    padding-top: 60px; }
  body.top-nav header {
    bottom: auto;
    top: 0;
    position: fixed;
    background: #31353a;
    min-height: 160px;
    padding: 60px 85px; }
    body.top-nav header nav#main .nav {
      top: 142px;
      bottom: auto; }
    body.top-nav header .menu-trigger .bar {
      background: #fff; }
    body.top-nav header .brand {
      background-position: top center; }
  @media screen and (max-width: 992px) {
    body.top-nav {
      padding-top: 58px; }
      body.top-nav header {
        min-height: 40px;
        padding: 10px 0; }
        body.top-nav header nav#main .nav {
          right: 20px;
          top: 60px; }
      body.top-nav .menu-trigger {
        right: 16px;
        margin-top: 3px; } }

body.bottom-nav header {
  position: absolute;
  bottom: 30px;
  top: auto;
  background: none; }
  @media screen and (max-width: 992px) {
    body.bottom-nav header {
      bottom: auto;
      top: 30px; }
      body.bottom-nav header nav#main .nav {
        top: 110px;
        bottom: auto; }
      body.bottom-nav header .menu-trigger.active .bar {
        background: #fff !important; } }
